<div class="container">
  <div class="row">
    <div class="col s12">
      <!-- <h3 class="white-text">From Recipes to Master Shopping List</h3> -->

      <div class='button-wrapper'>
        <div class="row center " >
          <a href="/users/new" id="register-user-button" class="btn-large waves-effect #e53935 red darken-1
">Get started</a>
        </div>
      </div>
    <div>
  </div>
</div>
