<h1>My Shopping Lists</h1>

<% if @shopping_lists.any? %>
  <ul>
    <% @shopping_lists.each do |list| %>
      <li><%= list.title %></li>
      <li><%= list.shopping_date %></li>
    <% end %>
<% else %>
  <p>You haven't created any shopping lists. <%= link_to 'Start one here!', new_user_shopping_list_path(current_user) %></p>
<% end %>
