<h1>My Shopping Lists</h1>

<% if @shopping_lists.any? %>
  <%= render partial: 'index', locals: { shopping_lists: @shopping_lists }, layout: false %>
<% else %>
  <p>You haven't created any shopping lists. <%= link_to 'Start one here!', new_user_shopping_list_path(current_user) %></p>
<% end %>
