/*
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// <div class="wrapper">

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

body {
  background: image-url('beachwood_table.png');
  background-size: cover;
}
 // center errors in forms
.errors {
  margin-left: 30%;
}

// for responsive side-nav and offset main nav bar
.wrapper {
    padding-left: 300px;
}
// off-set headers further
.wrapper .title-wrapper {
  padding-left: 2%;
}

// center greeting img within side-nav
.side-nav-greeting-img {
  margin-left: 10%;
  margin-top: 10%;
}

.homepage-img {
  width: 235px;
  height: 220px;
}

footer a#footer-github-link {
  margin-right: 30%;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
