// center edit_mode icon for floating buttons
.btn-action {
  padding-left: 20%;
}

ul.tabs-override {
  background-color: transparent;
}

div#new-test-recipe-form {
  padding-top: 5%;
}

#test-recipe-title-input {
  margin-left: 25%;
}
